/*@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*font-family: "Poppins", sans-serif;*/
}

/* top bar  */
.sub_menu i {
    color: black;
    font-size: 30px;
    padding: 20px;
}
.logo_mid > a > img {
    width: 70px;
}
.content_top_bar {
    display: flex;
    justify-content: space-between;
}
.form_control {
    width: 100px;
    height: 30px;
    outline: none;
    transition: 0.6s;
    font-size: 10px;
    border-radius: 10px;
    padding-left: 5px;
    border: 2px solid green;
}
.form_control:focus {
    border: 2px solid green;
    width: 200px;
    transition: 0.6s;
}
.srch .btn_search {
    /* padding: 5px 10px; */
    padding-bottom: 5px;
    padding: 0 5px;
    background-color: white;
    transition: 0.6s;
    border-radius: 10px;
    height: 30px;
    border: 2px solid green;
    font-size: 15px;
}
.srch .btn_search:hover {
    background-color: rgb(11, 187, 11);
    transition: 0.6s;
    color: white;
}
.icon i {
    background-color: gray;
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
    margin-right: 5px;
    color: white;
}
.icon i:nth-child(1),
.icon i:nth-child(2),
.icon i:nth-child(3),
.icon i:nth-child(4) {
    transition: 0.6s;
}
.icon i:nth-child(1):hover {
    background-color: rgb(75, 75, 248);
    transition: 0.6s;
}
.icon i:nth-child(2):hover {
    background-color: rgb(75, 75, 248);
    transition: 0.6s;
}
.icon i:nth-child(3):hover {
    background-color: rgb(255, 60, 0);
    transition: 0.6s;
}
.icon i:nth-child(4):hover {
    background-color: rgb(17, 158, 1);
    transition: 0.6s;
}
.btn_cart a {
    gap: 10px;
    font-size: 15px;
    color: green;
}
.btn_sn {
    height: 40px;
    margin-right: 10px;
}
.btn_sn a {
    color: green;
}
.btn_sn:hover a {
    color: white;
}
.btn_cart:hover a {
    color: white;
}
li > a {
    text-decoration: none;
    color: black;
}
li > a:hover {
    color: green;
}
/* end top bar  */

/* product  */

.banner_product {
    background-color: bisque;
}
.banner_text {
    width: 1200px;
    margin: 0 auto;
    gap: 50px;
    padding: 20px 0;
}
.banner_text .text {
    color: rgb(167, 121, 63);
    padding: 40px 0;
}
.banner_text .img img {
    width: 500px;
    height: 300px;
}

/* end product  */

/* product content  */
.title {
    margin: 20px 0;
}
.product-box {
    padding: 0;
    border: 1px solid #e7eaec;
    transition: 0.6s;
}
.product-box:hover,
.product-box.active {
    border: 1px solid transparent;
    -webkit-box-shadow: 0 3px 7px 0 #a8a8a8;
    -moz-box-shadow: 0 3px 7px 0 #a8a8a8;
    box-shadow: 0 3px 7px 0 #a8a8a8;
    transition: 0.6s;
    transform: scale(1.1);
}
.product-imitation img {
    width: 260px;
    height: 270px;
}
.cart-product-imitation {
    text-align: center;
    padding-top: 30px;
    height: 80px;
    width: 80px;
    background-color: #f8f8f9;
}
.product-imitation.xl {
    padding: 120px 0;
}
.product-desc {
    padding: 20px;
    position: relative;
}
.ecommerce .tag-list {
    padding: 0;
}
.ecommerce .fa-star {
    color: #d1dade;
}
.ecommerce .fa-star.active {
    color: #f8ac59;
}
.ecommerce .note-editor {
    border: 1px solid #e7eaec;
}
table.shoping-cart-table {
    margin-bottom: 0;
}
table.shoping-cart-table tr td {
    border: none;
    text-align: right;
}
table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
    text-align: left;
}
table.shoping-cart-table tr td:last-child {
    width: 80px;
}
.product-name {
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    color: #676a6c;
    display: block;
    margin: 2px 0 5px 0;
}
.product-name:hover,
.product-name:focus {
    color: #1ab394;
}
.product-price {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #1ab394;
    padding: 6px 12px;
    position: absolute;
    top: -32px;
    right: 0;
}
.product-detail .ibox-content {
    padding: 30px 30px 50px 30px;
}
.image-imitation {
    background-color: #f8f8f9;
    text-align: center;
    padding: 200px 0;
}
.product-main-price small {
    font-size: 10px;
}
.product-images {
    margin: 0 20px;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}
.ibox.collapsed .ibox-content {
    display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before {
    content: "\f078";
}
.ibox.collapsed .fa.fa-chevron-down:before {
    content: "\f077";
}
.ibox:after,
.ibox:before {
    display: table;
}
.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}
.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}
.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}
.small {
    font-weight: bold;
    margin: 10px 0;
}
.small span {
    text-decoration-line: line-through;
    color: #a8a8a8;
}
/* end product content  */



/* slogan  */

.slogan {
    background-color: blanchedalmond;
    padding: 40px;
    color: rgb(117, 78, 31);
}
.slogan i {
    font-size: 30px;
}
.slogan p {
    font-size: 20px;
}

/* slogan  */

/* bannerbottom  */

.banner_bottom img {
    width: 100%;
    height: 100%;
}
.text_button_bottom h2 {
    font-size: 27px;
}
.text_button_bottom button {
    font-size: 10px;
    background-color: #f8ac59;
    border: none;
    color: white;
}
.text_button_bottom button:hover {
    background-color: rgb(98, 49, 49);
    border: none;
    font-size: 13px;
}

/* banner bottom  */

/* feedback  */
.feedback {
    margin: 50px auto;
}
.feedback .col {
    color: #594229;
}
.feedback .col h2 {
    font-weight: normal;
}
.feedback .col p {
    margin: 10px;
}
.feedback .col-12 span {
    color: black;
    font-weight: bold;
}

/* end feedback  */

/* product  */

.banner_product {
    background-color: bisque;
}
.banner_text {
    width: 1200px;
    margin: 0 auto;
    gap: 50px;
    padding: 20px 0;
}
.banner_text .text {
    color: rgb(167, 121, 63);
    padding: 40px 0;
}
.banner_text .img img {
    width: 500px;
    height: 300px;
}
.btn_cart a {
    gap: 10px;
    font-size: 15px;
    color: green;
}
.btn_cart:hover a {
    color: white;
}
/* end product  */

/* product content  web product*/

#search {
    outline: none;
    border: none;
    display: inline-block;
}
#burgundy {
    color: #1ab394;
}

.btn {
    color: green;
}
.btn:hover {
    color: white;
}
.fa-search {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 3px;
    padding-right: 20px;
}
.search-nav-item {
    height: 40px;
}
nav {
    padding: 0px 100px;
}
.fa-user-o,
.fa-shopping-cart {
    font-size: 20px;
    padding: 4px;
}

.form-group {
    margin-bottom: 5px;
}
a label{
    padding-left: 10px;
}
.form-group:last-child {
    margin-bottom: 0;
}
h6 {
    margin-bottom: 0px;
}
#sort {
    outline: none;
    border: none;
}
.btn {
    border-radius: 10px;
    background-color: #fff;
}
.btn:hover {
    color: #fff;
}
.card-body {
    padding: 8px;
}
.sign {
    width: 25px;
    height: 25px;
}
.discount {
    border: 1px solid orange;
    border-radius: 5px;
    width: 65px;
    position: absolute;
    top: 2%;
}
.form-group a{
    transition: 0.5s;
}
.form-group:hover > a {
    font-size: 20px;
    border-bottom: 2px solid green;
    transition: 0.5s;
    margin-right: 10px;
}
@media (min-width: 1200px) {
    #search {
        width: 300px;
        padding: 5px;
        padding-left: 20px;
    }
    .search-nav-item {
        margin-left: 400px;
        width: 350px;
    }
    .fa-user-o {
        margin-left: 300px;
    }
    .text {
        display: none;
    }
    .fa-user-o,
    .fa-shopping-cart {
        font-size: 20px;
        padding-left: 20px;
    }
    #sidebar {
        width: 30%;
        padding: 20px;
        float: left;
    }
    #products {
        width: 70%;
        padding: 10px;
        margin: 0;
        float: left;
    }
    .card {
        width: 300px;
        height: 330px;
        border: none;
    }
    .card-img-top {
        width: 295px;
        height: 200px;
        border-radius: 10px;
    }
    del {
        padding-right: 2px;
    }
    .filter {
        display: none;
    }

    #mobile-filter {
        display: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    #search {
        width: 300px;
        padding: 5px;
        padding-left: 20px;
    }
    .search-nav-item {
        margin-left: 200px;
        width: 350px;
    }
    .fa-user-o {
        margin-left: 160px;
    }
    .text {
        display: none;
    }
    #sidebar {
        width: 30%;
        padding: 20px;
        float: left;
    }
    #products {
        width: 70%;
        padding: 10px;
        margin: 0;
        float: left;
    }
    .card {
        width: 200px;
        height: 330px;
        border: none;
    }
    .card-img-top {
        width: 200px;
        height: 200px;
        border-radius: 10px;
    }
    .fa-plus,
    .fa-minus {
        font-size: 12px;
    }
    .sign {
        height: 25px;
    }
    .price {
        width: 99px;
    }
    .filter,
    #mobile-filter {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #search {
        width: 300px;
        padding: 5px;
        padding-left: 20px;
    }
    .search-nav-item {
        margin-left: 60px;
        width: 350px;
    }
    .fa-user-o {
        margin-left: 80px;
    }
    .text {
        display: none;
    }
    #sidebar {
        width: 35%;
        padding: 20px;
        float: left;
    }
    #products {
        width: 65%;
        padding: 10px;
        margin: 0;
        float: left;
    }
    .card {
        border: none;
    }
    .filter,
    #mobile-filter {
        display: none;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .text {
        display: none;
    }
    .search-nav-item {
        margin-left: 35px;
        width: 270px;
    }
    #search {
        width: 240px;
        padding: 5px;
        padding-left: 20px;
    }
    .fa-search {
        padding: 3px;
        font-size: 18px;
    }
    #sidebar {
        width: 40%;
        padding: 20px;
        float: left;
    }
    #products {
        width: 60%;
        padding: 10px;
        margin: 0;
        float: left;
    }
    .card {
        border: none;
    }
    #off {
        padding-left: 2px;
    }
    #sorting span,
    #res {
        font-size: 14px;
    }
    .filter,
    #mobile-filter {
        display: none;
    }
}
@media (max-width: 575px) {
    .search-nav-item {
        margin: 0;
        width: 100%;
        margin-top: 10px;
    }
    #search {
        width: 80%;
        padding-left: 10px;
        margin-top: 10px;
        padding-right: 10px;
    }
    .fa-search {
        padding: 10px;
        font-size: 18px;
    }
    #sidebar {
        display: none;
    }
    #sorting,
    #res {
        font-size: 12px;
        margin-top: 2%;
    }
}

/* end product content web product  */

/* detail product  */

a {
    text-decoration: none;
}
.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444;
}

.section-products .single-product {
    margin-bottom: 26px;
}
.img_ct {
    width: 600px;
    height: 450px;
}
.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
    transform: scale(1.2, 1.2);
}

.section-products #product-1 .part-1::before {
    background: url("../image/sp1.jpg") no-repeat center;
    background-size: cover;
    transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("../image/sp2.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("../image/sp3.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("../image/sp4.jpg") no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}
.coment_layout{
    width: 1440px;
}
.date {
    font-size: 11px;
}
.comment-text {
    font-size: 17px;
}
.fs-12 {
    font-size: 12px;
}
.shadow-none {
    box-shadow: none;
}
.cursor:hover {
    color: rgb(9, 106, 3);
}
.cursor {
    cursor: pointer;
}
.text_home {
    display: unset;
}
/* end detail product  */

/* Sign In  */

.dangnhap {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 700px;
    height: 350px;
    margin: 0 auto;
    border-radius: 5px;
}
.formtaikhoan {
    width: 600px;
    margin: 0 auto;
}
.dangnhap .formtaikhoan input[type="text"],
input[type="password"],
input[type="email"] {
    width: 570px;
    height: 30px;
    padding-left: 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid green;
    transition: 1s;
}
.dangnhap .formtaikhoan input[type="submit"],
input[type="reset"] {
    width: 250px;
    height: 40px;
    font-size: 17px;
}

.dangnhap .formtaikhoan input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    width: 600px;
    height: 50px;
    transition: 1s;
}
.dangnhap .formtaikhoan li:hover {
    color: green;
}
.user li {
    padding: 10px 0;
    list-style: none;
}
.user li a {
    font-weight: bold;
    font-size: 25px;
    border-bottom: 2px solid green;
    transition: 1s;
}
.edit {
    height: 450px;
}
/* End signin  */

/* main_admin  */

.banner_admin > .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
.banner_admin > .container-fluid .h1 {
    font-size: 70px;
    font-weight: bold;
}
.banner_admin > .container-fluid img {
    background-size: cover;
}
.title_gray {
    margin-top: -20px;
}
.container_nhap input{
    border: none;
    border-bottom: 2px solid green;

}
.bieudo_css{
    background: blue;
    background: blue;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    width:100%;
    max-width:1000px;
    height:500px;
}
.content{
    background: blue;

    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}
.container_nhap{
    color: white;
}
.container_nhap input[type=text],.container_nhap textarea,.container_nhap select{
    outline: none;
    border: none;
    border-bottom: 3px solid blue;
    border-radius: 5px;
    padding-left: 5px;
}
.container_nhap select{
    width:200px;
    height:40px;
    border-radius: 5px;
}
.container_nhap select option{
    transition: .5s;

}
.container_nhap select option:hover{
    background-color: green;
    color: white;
    transition: .5s;
}
.list input[type="text"]{
    width:250px;
    height:40px;
    outline: none;
    padding-left: 5px;
    border-radius: 5px;
}
.list select{
    width:170px;
    height:40px;
    outline: none;
    border-radius: 5px;
}
.list input[type="submit"]{
    width:150px;
    height:40px;
    border-radius: 5px;
    color: green;
    transition: .5s;
}
.list input[type="submit"]:hover{
    background-color: green;
    color: white;
    transition: .5s;
}
/* end main adimn  */

/* Bieu Do  */

.bieudo_css{
    background-color: blue;
}

/* end bieu do  */

/* footer  */

.owl-carousel .owl-item {
    transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item .card {
    padding: 30px;
    position: relative;
}

.owl-carousel .owl-stage-outer {
    overflow-y: auto !important;
    padding-bottom: 40px;
}

.owl-carousel .owl-item img {
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}

.owl-carousel .owl-item .card .name {
    position: absolute;
    bottom: -20px;
    /* left: 33%; */
    color: #000000;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: white;
    padding: 0.3rem 0.4rem;
    border-radius: 5px;
    box-shadow: 2px 3px 15px #3c405a;
}

.owl-carousel .owl-item .card {
    opacity: 0.2;
    transform: scale3d(0.8, 0.8, 0.8);
    transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item.active.center .card {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.owl-carousel .span {
    color: gray;
}
.owl-theme .owl-dots .owl-dot span {
    height: 20px;
    background: #2a6ba3 !important;
    border-radius: 2px !important;
    opacity: 0.8;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    height: 13px;
    width: 13px;
    opacity: 1;
    transform: translateY(2px);
    background: #83b8e7 !important;
}

@media (min-width: 480.6px) and (max-width: 575.5px) {
    .owl-carousel .owl-item .card .name {
        left: 24%;
    }
}

@media (max-width: 360px) {
    .owl-carousel .owl-item .card .name {
        left: 30%;
    }
}

/* end footer  */
